---
---

@import "{{ site.theme }}";

// image option 1
img {
  border-radius: 50%;
}

// image option 2
// img {
//   border-radius: 35px;
// }



//--------------------------

// h3 {
//   color: steelblue;
// }

body {
  color: #515151;
  font-size: 15px;
}

h1,
h2,
h3,
h4 {
  color: black;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}


// -------------------------------



